<!DOCTYPE html>
<!--MAIN-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sharkblog Work add</title>
    <link rel="shortcut icon" href="/ico.png">
    <link rel="apple-touch-icon" href="/ico.png" />
	<link rel="stylesheet/less" type="text/css" href="/sheet1.less" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>

</head>
<body>
    <form action="/save" method="post"><input type="hidden" value="{{pwor}}" id="pwnet" name="pwnet">
    <div>
        <label>Head</label>
        <input type="text" id="head" name="head"></div>
    <div>
        <label>Text</label>
        <input type="text" id="txt" name="txt"></div>
        <div>
        <label>IMAGE URL</label>
        <input type="text" id="img" name="img"></div><div><button type="submit">Add</button></div>
</form>
    </body>
</html>