<!DOCTYPE html>
<!--MAIN-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sharkblog BLOG</title>
    <link rel="shortcut icon" href="/ico.png">
    <link rel="apple-touch-icon" href="/ico.png" />
	<link rel="stylesheet/less" type="text/css" href="/sheet1.less" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>

</head>
<body>
    <h1>BLOG:</h1><br>
    <table>
        <thead>
            <tr>
                <td>Pictures</td>
                <td>Texts</td>
            </tr>
        </thead><tbody>
    {{#each blogs}}
<tr><td><img src="{{this.picurl}}" height="200" width="200"></td><td><h2>{{this.uber}}</h2><br><p>{{this.text}}</p></td></tr>
    {{/each}}</tbody></table><hr><p><a href="https://bitbucket.org/Sharkbyteprojects/sharkblog#readme" targte="_blank">Sharkbyte blogs Repos</a> | <a href="http://services.sharkbyte.bplaced.net/donate.html" target="_blank">Donate for the Makers of blogging</a>  |  <a href="/login.html">LOGIN</a></p>
    </body>
</html>