<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/ico.png">
    <link rel="apple-touch-icon" href="/ico.png" />
	<link rel="stylesheet/less" type="text/css" href="/sheet1.less" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>
    <title>PWN</title>
</head>
<body>
    <h1>PWN</h1><p><a href="/">TO Home</a></p><p><form action="/pwn/n" method="post">
        <div>
        <label>new Password</label><input type="hidden" value="{{pwor}}" id="pwneto" name="pwneto">
        <input type="password" id="pwnet" name="pwnet"></div><div><label>retype password</label><input type="password" id="pwnett" name="pwnett"></div><div><button type="submit">Change</button></div>
</form></p>
</body>
</html>