<!DOCTYPE html>
<!--MAIN-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sharkblog Work add</title>
    <link rel="shortcut icon" href="/ico.png">
    <link rel="apple-touch-icon" href="/ico.png" />
	<link rel="stylesheet/less" type="text/css" href="/sheet1.less" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>

</head>
<body>
    <h1><form action="/pwn" method="post"><input type="hidden" value="{{pwor}}" id="pwnet" name="pwnet"></div><div><button type="submit">NEW Password</button></div>
</form> BLOG:</h1><br>
    <table>
        <thead>
            <tr>
                <td>pictures</td>
                <td>texte</td>
            </tr>
        </thead><tbody>
    {{#each blogs}}
<tr><td><img src="{{this.picurl}}" height="300" width="300"></td><td><h2>{{this.uber}}</h2><br><p>{{this.text}}</p></td></tr>
    {{/each}}</tbody></table><hr><form action="/add" method="post"><input type="hidden" value="{{pwor}}" id="pwnet" name="pwnet"></div><div><button type="submit">Add</button></div>
</form>
    </body>
</html>